ProbeOverAirWeb/WebContent/backup/xml-schema/create-workorder-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CreateWorkorderResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="id" type="xs:string"/>
    			<xs:element name="resultCode" type="xs:string"/>
    			<xs:element name="resultDescription" type="xs:string"/>
       		</xs:sequence>
    	</xs:complexType>
    </xs:element>
</xs:schema>