ProbeOverAirWeb/WebContent/xml-schema/register-device-and-agent-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RegisterDeviceAndAgentResponse">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="agentID" type="xs:string"/>
    			<xs:element name="updateURL" type="xs:string"/>
    			<xs:element name="updateNow" type="xs:string"/>
    			<xs:element name="agentVersion" type="xs:string"/> 
    			<xs:element name="resultCode" type="xs:string"/>
    			<xs:element name="resultDescription" type="xs:string"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
</xs:schema>