ProbeOverAirWeb/WebContent/xml-schema/subscribe-mqtt-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SubscribeMQTTRequest">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element name="deviceName" type="xs:string"/>
    			<xs:element name="topic" type="xs:string"/>
    			<xs:element name="command" type="xs:string"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
</xs:schema>